# Please mind that:
# 1. in CODEOWNERS file there is no `/**` syntax but we end catalog without `/` which means whole catalog and subdirs
#    example `dir     @owner` means whole dir and it's subdirectory
# 2. in CODEOWNERS file ending catalog with `/` means "cutoff
#    example `dir     @owner` means whole only dir **without subdirs**
# 3. starting dir from `/` means `from root dir` whereas without means `all such catalogs` (like we would do with extglob `**/`
# 4. Sub groups are marked from organization, not group so we don't have `@mudita/os/embedded-abs` but `@mudita/embedded-abs`
#
# CODEOWNERS for teams have some issues: https://github.community/t/codeowners-works-with-users-but-not-teams/733

CMakeLists.txt                              @mpsm
*.cmake                                     @mpsm
